
.ambience-name{
    font-weight: 600;
    padding-bottom: 20px
}
.ambience-text{
    padding-bottom: 20px;
}
.ambience{

    justify-content: center;
    align-items: center;
}
.button{
    transition: 1s ease;
    padding-bottom: 20px;
}

.button::before{
    content: '';
    width:81px;
    height: 1px;
    background-color: black;
    position: absolute;
    display: block;
    transform: scale(0);
}
.button::after{
    content: '';
    width:81px;
    height: 1px;
    background-color: black;
    position: absolute;
    display: block;
    transform: scale(0);
}
.button:hover::after,
.button:hover::before{
    transform: scale(1);
    transition: 1s ease;
}
